* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #fcf5e9;
  --container-normal: 1100px;
  --container-wide: 1400px;
  --container-narrow: 900px;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/* Utility Classes */
.bg-primary {
  background: var(--primary-color);
}

/* Container */

.container {
  max-width: var(--container-normal);
  margin: 0 auto;
  padding: 0 1.6rem;
}

.container-lg {
  max-width: var(--container-wide);
}

.container-sm {
  max-width: var(--container-narrow);
}

.header {
  margin: 1.5rem auto;
}

.header .logo {
  width: 130px;
}

.header .header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .main-menu {
  display: flex;
  gap: 1rem;
}

.header .header-flex a {
  padding: 0.5rem 1rem;
}

.header .header-flex a:hover {
  background: var(--primary-color);
}

.current {
  background: var(--primary-color);
  font-weight: 600;
}

/* Hero */
.hero {
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero h2 {
  font-size: 3rem;
  font-weight: normal;
  line-height: 1.4;
}

/* Gallery Section */
.gallery-flex {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.gallery-item {
  width: calc(33.333% - 20px);
  border-radius: 10px;
}

.gallery-item img {
  border-radius: 10px;
}

.gallery-item:hover {
  opacity: 0.9;
}
/* Media Queries */
@media (max-width: 786px) {
  .header .header-flex {
    flex-direction: column;
    gap: 1.5rem;
  }

  .hero {
    height: 300px;
  }

  .hero h2 {
    font-size: 1.5rem;
  }

  .gallery-item {
    width: calc(50% - 20px);
  }
}
